<div id="category-index-title">
	Explore Projects by Category:
</div>

<div id="row-of-categories">
	<div class="change-cat" data-cat="art">
		<div>Art</div>
	</div>
	<div class="change-cat" data-cat="food">
		<div>Food</div>
	</div>
 	<div class="change-cat" data-cat="games">
		<div>Games</div>
	</div>
	<div class="change-cat" data-cat="music">
		<div>Music</div>
	</div>
	<div class="change-cat" data-cat="technology">
		<div>Technology</div>
	</div>
</div>
