<!-- <button id="edit-project" class="btn btn-default">Edit Project Info</button> -->

<a href='#/projects/<%=project.id%>/edit' class="btn btn-default">Edit Your Project's Info</a>
<!-- <button id="edit-project-info" class="btn btn-default">Edit Your Project's Info</button> -->
