<div class="title-text">
	<div id="your-dream">Your dream starts here.</div>

	<div id="to-create">Please fill out the information below to create a new project.</div>
</div>

<form id="new-project">	
	
    <div class="form-group">
		<label for='name'>Project Name:</label><br>
		<input type='text' name='name' id='name'
	value='<%=project.escape('name')%>'><br><br><br>
    </div>
	
    <div class="form-group">
		<label for='description'><span id="project-description">Please write a description about your project.</span> <span id="description-sub-label">What do you want potential supporters to know?</span></label><br>
		
		<textarea name='description' id='description'><%= project.escape('description') %></textarea><br><br><br>
	</div>
	
    <div class="form-group">
		<label for='image-url'>Please enter the url of an image associated with your project:</label><br>
		<input type='text' name='image_url' id='image-url'><br><br><br>
    </div>

  	<div class="form-group fundraising">
		<div id="goal">
		<label for='goal'>What is your fundraising goal?</label><br>
		<span id="dollar-sign">$</span>
		<input type='number' min='1' name='goal' id='goal'
	value='<%=project.escape('goal')%>'><br>
		</div>

		<div id="deadline">
		<label for='deadline'>Please set your fundraising deadline:</label><br>
		<input type='date' min='<%=today%>' name='deadline' id='deadline'><br>
		</div>
	</div>

  	<div class="form-group">
		<input type='submit' id="submit-project" class="btn btn-default submit">
	</div>
</form>

<!-- <a href='#/'>Cancel</a> -->