<div class='projects-index-title'>
  <h3>Current Projects</h3>
</div>

<ul class='projects'>
  <% projects.each(function (project) { %>
    <li>
      <a href="#/projects/<%= project.id %>">
        <span class='name'>        
          <%= project.escape('name') %>
        </span>
      </a>
        <span class='description'> 
		  <% var desc = project.escape('description') %>  
		  <% if (desc.length < 750) { %>     
	        <%= desc %>
		  <% } else { %>
			<%= desc.slice(0, 749) + "..."%>  
		  <% } %>	
        </span>
    </li>
  <% }); %>
</ul>