<h2>Sign In</h2>

<%= render "layouts/errors" %>

<form class="form-horizontal" action="<%= session_url %>" method="post">
	
  <%= auth_token_input %>
  
  <div class="form-group">
    <label for="sign-in-email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name="user[email]" placeholder="email" id="sign-in-email">
    </div>
  </div>
  
  <div class="form-group">
    <label for="sign-in-password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="user[password]" placeholder="password" id="sign-in-password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	  <input type="submit" value="Sign In" class="btn btn-default">
    </div>
  </div>
  
</form>