<div id="donation-form">
	<h2>Donate</h2>

	<form>	
		<label for='amount'>How much would you like to donate?</label><br>
		<input type='number' name='amount' id='amount'>
	
		<input type='submit' value='Donate!'>
		<button id='cancel'>Cancel</button>
	</form>
</div>
<!-- <a href='#/projects/' + ID GOES HERE >Back</a> -->