<form id="donation-form" class="pop-up-form">	
	<span id="donate-title">Donate</span><br><br>
	
    <div class="form-group">
		<label for='amount'>Please enter amount:</label><br>
		<span id="dollar-sign">$</span>
		<input type='number' min='1' name='amount' id='amount' value="<%=defaultAmount%>">
	</div>
	
  	<div class="form-group">		
		<input type='submit' value='Donate!' class="btn btn-default submit">
		<button class="btn btn-default cancel">Cancel</button>
	</div>
</form>

