<div id="donation-form">
	<h2>Donate</h2>

	<form>	
		<label for='amount'>How much would you like to donate?</label><br>
		<input type='number' min='1' name='amount' id='amount'>
	
		<input type='submit' value='Donate!' class="btn btn-default">
		<button id='cancel' class="btn btn-default">Cancel</button>
	</form>
</div>
