<form id="reward-form">
	<label for='amount'>Add a new Reward for your donors!</label><br>
	
    <div class="form-group" id="min-donation">
		<label for='min-pledge'>Minimum Pledge:</label><br>
		<span id="dollar-sign">$</span>
		<input type='number' min='1' name='min_pledge' id='min-pledge'><br>
	</div>
	
    <div class="form-group" id="min-donation">
		<label for='reward-description'>Reward Description:</label><br>
		<textarea name='description' id='reward-description'></textarea><br>
	</div>
	
  	<div class="form-group">		
		<input type='submit' id="submit-button" value='Add Reward!' 
		class="btn btn-default">
		<button id='cancel' class="btn btn-default">Cancel</button>
	</div>
	
</form>