<!-- <div id="rewards-index"> -->
<% if (rewards.length > 0) { %>
  <% rewards.each(function (reward) { %>
	  <button id="reward" class="btn btn-default">
	      <h5>Pledge $<%=reward.escape('min_pledge')%> or more</h5>
		  <h4>Select this reward</h4>
	      <p><%= reward.escape('description') %></p>
	  </button>
  <% }); %>
<% } %>
<!-- </div> -->