<div id="rewards-index">
  <% rewards.each(function (reward) { %>
	  <button id="reward">
	      <h2><%= reward.escape('min_pledge') %></h2>
	      <h4><%= reward.escape('description') %></h4>
	  </button>
  <% }); %>
</div>