/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
// comment this out to use a theme


.container {
	position: relative;
}

.nav {
	background: lightgreen;
}

.nav li a{
    line-height: 70px;
    height: 70px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 125%;
}

#logo {

}

#discover {

}

.dropdown-menu {
	width: 300px;
}






.title-text {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

#your-dream {
	padding-top: 120px;
	font-size: 600%;
}

#to-create {
	padding: 50px;
	font-size: 150%;
}

#new-project {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 150%;
	text-align: left;
}

#new-project textarea {
	height: 200px;
	width: 100%;
}

#description-sub-label {
	font-weight: normal;;
}

input#name {
	width: 45%;
}

input#image-url {
	width: 100%;
}

input#goal {
	width: 170px;
	height: 40px;
}

label {
	padding-bottom: 10px;
}

.fundraising div {
	display: inline-block;
}

.fundraising div#deadline {
	position: absolute;
	left: 50%;
}

input.submit {
	color: lightgreen;
}

#submit-project {
	position: absolute;
	display: block;
	width: 140px;
	height: 60px;
	margin-top: 80px;
	margin-bottom: 120px;
	font-weight: bold;
	font-size: 105%;
}




