/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.hidden {
	display: none;
}

body {
	background: #F8F8F8;
	font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

.container {
	position: relative;
	min-height: 100%;
	padding:10px;
	padding-bottom: 80px;   // Height of the footer
}

.nav {
	background: rgba(51, 221, 51, 0.75);
}

.nav li a{
    line-height: 60px;
    height: 60px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 125%;
}

.dropdown-menu {
	width: 300px;
	
	h4 {
		padding-left: 12px;
	}
	h4#current-user-email {
		padding-left: 25px;
		padding-bottom: 20px;
	}
	h5 {
		padding-left: 25px;
	}
	#sign-out {
		display: inline-block;
		padding-left: 25px;
		.btn {
			width: 100px;
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
}


// footer 

#footer {
	position: relative;
	background: black;
	color: #33DD33;
	width: 100%;
	height:80px;
	bottom:0;
	left:0;
	div {
		display: inline-block;
		padding-top: 15px;
		padding-left: 50px;
	}
}

#footer #categories {
	float: right;
	padding-right: 50px;
}

#footer #foot-links {
	padding-left: 0px;
}

// sign in/up

.sign-in-up-title {
	font-size: 400%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;
}

.sign-in-up-errors {
	text-align: center;
	margin-bottom: 10px;
}

.sign-in-up-form {
	display: block;
	margin-left: 35%;
}


// home page
.carousel-inner {
	margin-top: -90px; // height of footer plus 10 (padding)
	height: 600px;
}

.carousel-inner .item {
	img {
		width: 100%;
	}
}

a.carousel-control {
	width: 100px;
}

.carousel-caption {
	font-size: 250%;
	top: 450px;
}

#about-clickstarter {
	display: block;
	font-size: 200%;
	text-align: center;
	padding: 50px;
}

#explore-categories {
	display: block;
	font-size: 300%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}

.categories {
	position: relative;
	height: 200px;
}

.categories.second-row {
	margin-bottom: 50px;
}

.category {
	width: 20%;
	margin-left: 10%;
	height: 60%;
	border-radius: 10px;
	background: white;
	color: gray;
}

[data-cat="art"]:hover {
	background: #CC00CC;
}

[data-cat="food"]:hover {
	background: #33DD33;
}

[data-cat="games"]:hover {
	background: #FFFF33;
}

[data-cat="music"]:hover {
	background: #FF6600;
}

[data-cat="technology"]:hover {
	background: #00CCFF;
}

.category > h3 {
	vertical-align: center;
	transform: translateY(50%);
}

#bottom-left {
	margin-left: 25%;
}





// projects index/category

#main {
	position: relative;
}

#category-index-title {
	text-align: center;
	font-size: 300%;
	margin-top: 100px;
}

#row-of-categories {
	position: relative;
	padding: 5%;
	padding-bottom: 10%;
	cursor: pointer;
	div {
		position: inline-block;
		width: 20%;
		float: left;
		font-size: 125%;
		div {
			width: 100%;
			text-align: center;
		}
	}
	.selected-cat {
		border: solid black 2px;
		border-radius: 3px;
		transform: translateY(-2px);
	}
}

#projects-index-title {
	text-align: center;
	font-size: 500%;
	margin-top: 100px;
	margin-bottom: 60px;
}

.project-item {
	position: relative;
	display: block;
	width: 90%;
	height: 350px;
	background: white;
	border: solid lightgray 1px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	cursor: pointer;
}

.project-item img {
	width: 50%;
	height: 100%;
}

.index-project-info {
	display: inline-block;
	width: 45%;
	padding-left: 5%;
}

.project-name {
	position: absolute;
	top: 7%;
	font-size: 125%;
	font-weight: bold;
}

.project-description {
	position: absolute;
	width: 40%;
	top: 20%;
}

.progress.index {
	position: absolute;
	width: 40%;
	height: 10px;
	border-radius: 0px;
}
.progress-wrap.index {
  background: #33DD33;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  top: 65%;
  .progress-bar {
	width: 100%;
    background: #F8F8F8;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.info-under-progress-bar {
	position: absolute;
	width: 40%;
	top: 75%;
	div {
		display: inline-block;
		padding-right: 18%;
		float: left;
	}
}

.info-under-progress-bar .days-to-go {
	padding-right: 0;
}


// project form 

.title-text {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

#your-dream {
	padding-top: 120px;
	font-size: 600%;
}

#to-create {
	padding: 50px;
	font-size: 150%;
}

#new-project {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 150%;
	text-align: left;
}

#new-project textarea {
	height: 200px;
	width: 100%;
}

#description-sub-label {
	font-weight: normal;;
}

input {
	padding-left: 5px;
	padding-right: 5px;
}

.radio-button {
	display: inline-block;
	width: 19.5%;
}

textarea {
	padding-left: 5px;
	padding-right: 5px;
}

input#name {
	width: 45%;
}

input#image-url {
	width: 100%;
}

input#goal {
	width: 170px;
	height: 40px;
}

label {
	padding-bottom: 10px;
}

.fundraising div {
	display: inline-block;
}

.fundraising div#deadline {
	position: absolute;
	left: 50%;
}

input.submit {
	color: #33DD33;
	margin-bottom: 150px;
}

#submit-project {
	position: absolute;
	display: block;
	width: 140px;
	height: 60px;
	margin-top: 80px;
	margin-bottom: 120px;
	font-weight: bold;
	font-size: 105%;
}


// project show page

.project-header {
	display: block;
	text-align: center;
	padding-top:120px;
	padding-bottom: 80px;
	font-size: 400%;
}

#column-container {
	position: relative;
	background: white;
	border: solid lightgray 1px;
	border-radius: 5px;
	margin-bottom: 150px;
}

.project-info {
	display: inline-block;
	padding: 30px;
}

.right-col {
	width: 29.5%;
	padding-left: 0px;
}

.left-col {
	width: 70%;
	vertical-align: top;
}

.project-image img{
	display: inline-block;
	width: 100%;
}

#project-desc {
//	background: white;
	
	pre {
		white-space: pre-wrap;
		word-break: normal;
		font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 125%;
		background: white;
		border: none;
		padding-left: 0px;
		margin-top: 25px;
	}
}


.edit {
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
}

.edit .btn {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}


.progress.show {
  width: 100%;
  height: 15px;
  border-radius: 0px;
}
.progress-wrap.show {
  background: #33DD33;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: #F8F8F8;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.larger-text-top {
	font-size: 400%;
	padding-top: 10px;
}

.smallish-text-underneath {
	font-size: 120%;
	margin-top: -10px;
}

button#donate {
	margin-top: 30px;
	margin-bottom: 50px;
	background: #33DD33;
	color: white;
}

button#reward {
	position: relative;
	background: #F8F8F8;
	border: solid lightgray 1px;
	color: black;
	padding-left: 0px;
	width: 100%;
	h5 {
		text-align: left;
		padding-left: 20px;
		padding-bottom: 5px;
		font-weight: bold;
		font-size: 110%;
	}
	h4 {
		position: absolute;
		display: block;
		width: 100%;
		top: 50%;
		transform: translateY(-100%);
		opacity: 0;
	}
	p {
		white-space: normal;
		text-align: left;
		padding-left: 20px;
		padding-right: 10px;
	}
}

button#reward:hover {
	background: #33DD33;
	h5 {
		opacity: 0.2;
	}
	p {
		opacity: 0.2;
	}
	h4 {
		opacity: 1;
		color: white;
	}
}


// donation form

.pop-up-form {
	position: fixed;
	font-size: 200%;
	padding: 2000px;
	padding-top: 120px;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color: rgba(248,248,248,0.90);
	
	#donation-form {
		position: relative;
		
		#donate-title {
			font-size: 300%;
		}
		label {
			margin-top: 10px;
			white-space: nowrap;
		}
		input#amount {
			width: 94%;
			position: absolute;
		}
		.btn {
			position: absolute;
			margin-top: 30px;
			font-size: 100%;
			left: 15px;
		}
		.btn.cancel {
			left: 160px;
		}
	}
	
	#reward-form {
		position: relative;
		
		#add-reward-title {
			text-align: center;
			font-size: 200%;
		}
		label {
			margin-top: 20px;
		}
		input#min-pledge {
			position: absolute;
			width: 89%;
		}
		.btn {
			position: absolute;
			margin-top: 20px;
			font-size: 100%;
			left: 10px;
		}
		.btn.cancel {
			left: 235px;
		}
	}
}

.pop-up-form.new-reward {
	padding-top: 90px;
}

#thank-you {
	margin-top: 190px;
	text-align: center;
}

