/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

// might use this:  *= require slick

 *= require_tree .
 *= require_self
 */

@import "bootstrap";
// comment this out to use a theme
//@import 'slick';


body {
	background: #F8F8F8;
}

.container {
	position: relative;
}

.nav {
	background: #33FF99;
}

.nav li a{
    line-height: 70px;
    height: 70px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 125%;
}

#logo {

}

#discover {

}

.dropdown-menu {
	width: 300px;
}




// home page

//#welcome {
//	display: block;
//	padding: 120px;
//	font-size: 500%;
//	text-align: center;
//}

.carousel-inner .item {
	height: 600px;
}

a.carousel-control {
	width: 100px;
}

#discover-projects {
	display: block;
	font-size: 300%;
	text-align: center;
	padding: 200px;
}

.carousel-caption {
	font-size: 250%;
	padding-bottom: 100px;
}




// projects index

#projects-index-title {
	text-align: center;
}

#projects-index {
    // I don't think the appropriate content is actually in this div
}




.title-text {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

#your-dream {
	padding-top: 120px;
	font-size: 600%;
}

#to-create {
	padding: 50px;
	font-size: 150%;
}

#new-project {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 150%;
	text-align: left;
}

#new-project textarea {
	height: 200px;
	width: 100%;
}

#description-sub-label {
	font-weight: normal;;
}

input#name {
	width: 45%;
}

input#image-url {
	width: 100%;
}

input#goal {
	width: 170px;
	height: 40px;
}

label {
	padding-bottom: 10px;
}

.fundraising div {
	display: inline-block;
}

.fundraising div#deadline {
	position: absolute;
	left: 50%;
}

input.submit {
	color: lightgreen;
}

#submit-project {
	position: absolute;
	display: block;
	width: 140px;
	height: 60px;
	margin-top: 80px;
	margin-bottom: 120px;
	font-weight: bold;
	font-size: 105%;
}


// project show page

.project-header {
	display: block;
	text-align: center;
	padding-top:120px;
	padding-bottom: 80px;
	font-size: 400%;
}

#column-container {
	position: relative;
	background: white;
	border: solid lightgray 1px;
	border-radius: 5px;
}

.project-info {
	display: inline-block;
	padding: 30px;
}

.right {
	width: 30%;
	position: absolute;
	padding-left: 0px;
}

.left {
	width: 70%;
	position: relative;
}

.project-image img{
	display: inline-block;
	width: 100%;
}


.edit {
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
}

.edit .btn {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	
}

#goal {
	font-size: 300%	;
}

#number-days {
	font-size: 400%;
	padding-top: 10px;
}

#days-to-go {
	font-size: 150%;
	margin-top: -10px;
}

button#donate {
	margin-top: 30px;
	margin-bottom: 30px;
}

button#reward {
	width: 100%;
}



