<div id="footer">
	<div id="foot-links">
		<div id="home-link">
			<a href="#">Home</a>
		</div>

		<div id="about-link">
			<a href="https://github.com/dgskinner">About</a>
		</div>

		<div id="contact-link">
			<a href="http://www.linkedin.com/in/skinnerduncan/">Contact</a>
		</div>
	</div>	

	<div id="categories">
		<div id="discover-by-cat">
			Discover projects by category:
		</div>
		<!-- </div id="category-links"> -->
		<div>
			<a href="#/projects/categories/art">Art</a><br>
		</div>
		<div>
			<a href="#/projects/categories/food">Food</a><br>
		</div>
		<div>	
			<a href="#/projects/categories/games">Games</a><br>
		</div>
		<div>	
			<a href="#/projects/categories/music">Music</a><br>
		</div>
		<div>	
			<a href="#/projects/categories/technology">Technology</a>
		</div>
		<!-- </div> -->
	</div>
</div>