<ul class="nav nav-pills">
    <li id="logo"><a href="/">ClickStarter</a></li>
    <li id="discover"><a href="/#projects">Discover</a></li>
	
	<% if logged_in? %>
	
	<li id="start"><a href="#/projects/new">Start</a></li>

	<li role="presentation" class="dropdown pull-right">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"        aria-expanded="false">
	    My Profile <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu" role="menu">
		<li id="my-projects">
			My Projects
			<ul>
				<li>project 1</li>
				<li>project 2</li>
			</ul>
		</li>
		</br>
		<li id="backed-projects">
			Backed Projects
			<ul>
				<li>project 1</li>
				<li>project 2</li>
				<li>project 3</li>
			</ul>
		</li>
		<br>
		<li class="divider"></li>
  	    <li id="sign-out">
  	      <%= button_to "Sign Out", session_url, :method => :delete %>
        </li>
	  </ul>
	</li>

  
    <% else %>
  
    <li class="pull-right" id="sign-in">
      <%= link_to "Sign In", new_session_url %>
    </li>
    <li class="pull-right" id="sign-up">
      <%= link_to "Sign Up", new_user_url %>
    </li>
  
	<% end %>
	
</ul>

<%= render "layouts/errors" %>

